Repository geneweb/geneweb, pull requests merged in 2024-05, with the labels that each got.

#1797 Relation dates: Add a missing permission check
  lib/util.ml
Labels: Bug

#1779 Advanced search: Refactor the code
  lib/advSearchOk.ml
  lib/gwdb-legacy/database.ml
Labels: search

#1781 Advanced search: Add the possibility to search in the minor events
  lib/advSearchOk.ml
Labels: search

#1805 Advanced search: Fix it
  lib/advSearchOk.ml
  lib/event.ml
  lib/event.mli
Labels: Bug, search
